body {
    font-family: 'Arial', sans-serif;
    background-color: darkslategrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div {
    text-align: center;
}

#contenedor{
    background-color: #ccc;
}

#resultado a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    transition: background-color 0.3s;
}

#txtNombreCocktail,
#txtCategoria,
#txtIngredientes {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}



#cocktailImagen {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
}
